@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {

    background-color:#F8F8F8;
    margin:0;
    padding:0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;

}

/* Creating the navbar */
.navbar-nav, .navbar-brand, h2, h3, .arrow, h1, label{
    color: #272727;
    font-family:'Balsamiq Sans', cursive;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}
a {
    margin: 0 0.6rem;
    text-decoration:none;
}

.avatar {
    width:4rem;
    height:4rem;
    border-radius:50%;
}
header {
    padding: 1rem;
}

/* ---------------------- */

/* Start page */
        /* Phone size */
.start_page {
    margin-top:2rem;
    font-style: normal;
    font-weight: 200;
    text-align:center;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1rem;
    line-height: 1.4rem;
}

.main_image {
    width:17rem;
    height:11rem;
}

.p-image {
    width:16rem;
    height:9rem;
    border-radius: 10px;
}
/* -------------------------- */

        /* Tablet size */
@media (min-width:600px) {
    .start_page {
        margin-top:2rem;
        font-style: normal;
        font-weight: 400;
        text-align:left;
    }

    h2 {
        font-size: 2.3rem;
        line-height: 2.7rem;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
    .main_image {
        width:385px;
        height:243px;
    }

}
/* ------------------------ */

        /* Desktop size */
@media (min-width:900px)
{
    .start_page {
        margin-top:2rem;
        font-style: normal;
        font-weight: 400;
        text-align:left;
    }
h2 {
    font-size: 2.5rem;
    line-height: 3.3rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
}
.main_image {
    width:540px;
    height:342px;
}
}
/* --------------------------- */

.arrow {
    position:flex;
    text-align:center;
    margin: 3rem 0;
    color:#FFB319;
}

.section {
    margin:6rem 1rem 0 1rem;
    font-style: normal;
    font-weight: 400;
}

.card {
    background-color:#B8DFD8;
    padding: 1rem;
    border-radius: 10px;
    margin-right:auto;
    margin-top:15px;
}

@media (max-width:600px){
    .pic-child {
        text-align:center;

    }
    ul {
        list-style-type:none;
        padding: 0;
        margin: 0 0 0.7rem 0;
    }
}

.mem_pics {
    width:auto;
    max-height: 200px;
    height:100%;
    block-size:auto;
    margin: 0.1rem 0;
}
.mem_pics_2 {
    width:auto;
    max-height: 300px;
    height:100%;
    block-size:auto;
    margin: 0.1rem 0;
}

.flex-footer {
    display: flex;
    min-height: 79vh;
    flex-direction: column;
    justify-content: space-between;
}
footer {
    margin-top: auto;
    padding: 2rem 1rem 1rem 1rem;
    background-color:#FFE194;
    margin-left:0;
}

.icon {
    height:25px;
    width:auto;
    display:inline-block;
}

    .icons_group {
        text-align:center;
        margin-bottom:0.3rem;
    }

    /* about section */

    .about-text {
        text-indent:30px;
    }
    .about {
        text-align:justify;
    }

    @media(max-width:900px)
    {
        .about {
            text-align:center;
         }
    }

    .foto-p {
        height: auto;
        width: 300px;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .foto-l {
        height: auto;
        width:550px;
        border-radius:10px;
        margin-bottom: 5px;
    }

    @media(max-width: 600px) {
        .foto-p {
            height: auto;
            width: 220px;
            border-radius: 10px;
            margin: 0 auto 0 auto;
        }

        .foto-l {
            height: 250px;
            width:auto;
            border-radius:10px;
            margin: 0 auto 0 auto;
        }
    }


/* contact me page */

input[type=text],[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 13px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical horizontal /* Allow the user to vertically resize the textarea (not horizontally) */
  }

input[type=submit] {
    background-color: #FFB319;
    Color:black;
    cursor:pointer;
    padding: 7px 20px;
    border-radius:10px;
    border:none;
    margin-bottom: 10px;
}

  input:focus, textarea:focus, #email:valid{
    border:none;
    outline: 1px solid #B8DFD8;
  }

  #email:invalid {
    border: 1px solid #E5996D;
  }

